/* General Styles */
body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f8f9fa;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Header Styles */
header {
    background-color: #333;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header .logo img {
    width: 120px;
    height: auto;
}

header h1 {
    margin: 0;
    font-size: 1.8rem;
    flex-grow: 1;
    text-align: center;
    color: #ff69b4;
}

header nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

header nav ul li {
    margin: 0 1rem;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

header nav ul li a:hover {
    color: #ff69b4;
}

/* Hero Section */
.hero {
    background: url('/bg.jpeg') no-repeat center center/cover;
    color: #fff;
    text-align: center;
    padding: 4rem 2rem;
}

.hero h2 {
    margin: 0;
    font-size: 2.5rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

.hero p {
    font-size: 1.2rem;
    margin-top: 0.5rem;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
}

/* Main Content Styles */
main {
    flex-grow: 1;
    padding: 2rem;
}

h2 {
    text-align: center;
    color: #333;
    margin-bottom: 2rem;
}

/* Product List Styles */
.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}

.product {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 1rem;
    text-align: center;
    width: 200px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.product:hover {
    transform: translateY(-5px);
}

.product h3 {
    margin: 0 0 1rem;
    font-size: 1.2rem;
    color: #ff69b4;
}

.product p {
    margin: 0.5rem 0;
    font-size: 1rem;
    color: #666;
}

.product button {
    background-color: #ff69b4;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
}

.product button:hover {
    background-color: #ff4c8b;
}

/* Product image styling */
.product img {
    max-width: 100%;
    height: auto;
    border-radius: 5px; /* Optional: Add border radius for rounded corners */
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Optional: Add box shadow for depth */
}


/* Cart Styles */
#cart {
    margin: 2rem 0;
    border-top: 1px solid #ddd;
    padding-top: 1rem;
}

#cart .cart-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

#cart .cart-item p {
    margin: 0;
}

/* Footer Styles */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    position: relative;
    bottom: 0;
    width: 100%;
}
footer p {
    margin: 0;
}